body {
  padding: 1% 15%;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  margin: 30px 20px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: left;
}
p,
li {
  text-align: justify;
  line-height: 30px;
}

img {
  display: block;
  border-radius: 10px;
  margin: 50px auto;
}
footer {
  margin: 20px 10px;
  text-align: center;
}
footer a {
  margin: 20px;
  color: green;
  font-size: larger;
}
.contact p {
  display: block;
  text-align: center;
}
.image-scroll {
  overflow-y: scroll;
  height: 600px;
}
img {
  width: 60%;
}
